#!/usr/bin/env python3

from typing import Any, Dict, List, Optional


from stytch.b2b.core.models import (
    Member,
    Organization,
    B2BStytchSession,
    DiscoveredOrganization,
)
from stytch.core.models import (
    BiometricRegistration,
    CryptoWallet,
    Email,
    EmailFactor,
    Name,
    OAuthProvider,
    OAuthSession,
    Operand,
    Password,
    PhoneNumber,
    ResponseBase,
    SearchQuery,
    SearchResultsMetadata,
    SessionPtr,
    StytchSession,
    TOTPInstance,
    TOTPInstanceWithRecoveryCodes,
    User,
    WebAuthnRegistration,
)

{% for method in this.methods if method.response_type %}
{{ method.response_type.generate() }}
{% endfor %}
