{% if not this.manual_implementation %}
def {{ this.name }}(
  self,
  {% for arg in this.args %}
  {{ arg.generate() }},
  {% endfor %}
) -> {{ this.response_type.name }}:
    {% if not this.is_delete_method %}
    payload: Dict[str, Any] = {
    {% for arg in this.args %}
      {% if arg.always_include %}
        {% if arg.map_with %}
          "{{ arg.name }}": {{ arg.map_with }}({{ arg.name }}),
        {% else %}
          "{{ arg.name }}": {{ arg.name }},
        {% endif %}
      {% endif %}
    {% endfor %}
    }

    {% for arg in this.args %}
      {% if not arg.always_include %}
    if {{ arg.name }} is not None:
        {% if arg.map_with %}
      payload["{{ arg.name }}"] = {{ arg.map_with }}({{ arg.name }})
        {% else %}
      payload["{{ arg.name }}"] = {{ arg.name }}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% endif %}

    {% if this.eval_api_path %}
    url = self.api_base.route_with_sub_url(self.sub_url, {{ this.api_path }})
    {% else %}
    url = self.api_base.route_with_sub_url(self.sub_url, "{{ this.api_path }}")
    {% endif %}

    {% if this.is_delete_method %}
    resp = self.sync_client.{{ this.method }}(url)
    {% else %}
    resp = self.sync_client.{{ this.method }}(url, {{ this.params_or_json }}=payload)
    {% endif %}
    return {{ this.response_type.name }}.from_json(resp.json())

async def {{ this.name }}_async(
  self,
  {% for arg in this.args %}
  {{ arg.generate() }},
  {% endfor %}
) -> {{ this.response_type.name }}:
    {% if not this.is_delete_method %}
    payload: Dict[str, Any] = {
    {% for arg in this.args if arg.always_include %}
        {% if arg.map_with %}
          "{{ arg.name }}": {{ arg.map_with }}({{ arg.name }}),
        {% else %}
          "{{ arg.name }}": {{ arg.name }},
        {% endif %}
    {% endfor %}
    }

    {% for arg in this.args if not arg.always_include %}
    if {{ arg.name }} is not None:
      payload["{{ arg.name }}"] = {{ arg.name }}
    {% endfor %}
    {% endif %}

    {% if this.eval_api_path %}
    url = self.api_base.route_with_sub_url(self.sub_url, {{ this.api_path }})
    {% else %}
    url = self.api_base.route_with_sub_url(self.sub_url, "{{ this.api_path }}")
    {% endif %}

    {% if this.is_delete_method %}
    resp = await self.async_client.{{ this.method }}(url)
    {% else %}
    resp = await self.async_client.{{ this.method }}(url, {{ this.params_or_json }}=payload)
    {% endif %}
    return {{ this.response_type.name }}.from_json(await resp.json())
{% else %}
# MANUAL({{ this.name }})
def {{ this.name }}(
  self,
  {% for arg in this.args %}
  {{ arg.generate() }},
  {% endfor %}
) -> None:
    # 1. Check if this method should be async or not
    # 2. Set the return type appropriately
    # 3. Fill out the method details
    # 4. Remember to write a test since this is manually generated
    raise NotImplementedError("Fill me out!")
# ENDMANUAL({{ this.name}})
{% endif %}
