{% if this.extends %}
class {{ this.name }}(ResponseBase, {{ this.extends }}):
{% else %}
class {{ this.name }}(ResponseBase):
{% endif %}
    {% if this.docstring %}
    """{{ this.docstring }}
    """  # noqa
    {% endif %}

    {% for k, v in this.d.items() %}
    {{ k }}: {{ v }}
    {% else %}
    pass
    {% endfor %}
